body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    
}

div {
    margin-top: 150px;
}

#img {
    width: 500px;
    border: 0px solid red;
}