* {
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

section { 
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

input {
    width: 33px;
}